.fancy-title {
  text-align: center;
  padding-bottom: 1.8rem;
  background: transparent url("../icons/heading-drawing.svg") center bottom no-repeat;
}

.section-white {
  background-color: $white;
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}

.page-title {
  font-size: 3rem;
  font-family: $font-headings;
}

.gallery {
  display: flex;

  a {
    position: relative;
    display: block;

    &:hover::before,
    &:focus::before {
      opacity: 1;
    }

    &::before {
      content: "+";
      position: absolute;
      top: $spacing-small;
      left: $spacing-small;
      bottom: $spacing-small;
      right: $spacing-small;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      opacity: 0;
      transition: opacity .3s ease-out;
      background-color: rgba($gray-darker, 0.8);
    }
  }
}

.gallery-columns-3 {
  @media screen and (min-width: $screen-md) {
    margin-left: -$spacing-default;
    margin-right: -$spacing-default;
  }

  .gallery-item {
    flex: 1 1 33.333%;
    
    @media screen and (min-width: $screen-md) {
      margin: 0 $spacing-default;
    }
  }
}

.gallery-columns-5 {
  flex-wrap: wrap;

  .gallery-item {
    flex: 1 1 20%;

    @media screen and (max-width: $screen-md) {
      flex: 1 1 25%
    }
  
    @media screen and (max-width: $screen-xs) {
      flex: 1 1 50%
    }
  }
}