.about-section {
  background-color: $white;
  padding-bottom: $spacing-large;
  padding-top: $spacing-large;
  
  p {
    text-align: center;
    
    @media screen and (max-width: $screen-md) {
      margin-bottom: $spacing-large;
    }

    @media screen and (min-width: $screen-md) {
      margin: 0 auto ($spacing-large * 2) auto;
      max-width: 60%;
    }
  }
}