.booking-section {
  background-color: $gold;
  padding: $spacing-large 0;
  
  @media screen and (min-width: 400px) {
    position: relative;
    
    &::before, &::after {
      content: '';
      position: absolute;
      width: 15rem;
      height: 15rem;
      background: transparent url('../icons/corner.svg') center/cover no-repeat;
  
      @media screen and (max-width: 1300px) {
        width: 8rem;
        height: 8rem;
      }
    }
  
    &::before {
      top: 1rem;
      left: 0;
      transform: rotate(90deg);
    }
  
    &::after {
      bottom: 1rem;
      right: 0;
      transform: rotate(-90deg);
    }
  }


  .textwidget p {
    color: $white;
    text-align: center;
    margin-bottom: $spacing-large;
  }

  .fancy-title {
    color: white;
    background-image: url('../icons/heading-drawing-dark.svg');
  }
  
  .final-price {
    color: $white;
    background-color: $gray-darker;
    margin: 0;
    padding: 1rem;
  }
}

.datepick-inline {
  width: auto !important;
  background-color: $gray;
  color: lighten($gold, 10%);

  .datepick {
    width: 100%;
  }

  td, th {
    width: 14.2%;
    height: 3.5rem;
    text-align: center;
  }

  thead {
    background-color: $gray-dark;
  }
}

.submiting_content {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $green;
  width: 100%;
  padding: 1rem;
  color: $white;
  margin: 0;
  z-index: 1;
  text-align: center;
  box-shadow: 0 2px 10px rgba($gray, .3);
}

.date_available {
  cursor: pointer;

  &:not(.datepick-current-day) {
    &:hover, &:focus {
      background-color: lighten($gray, 10%);
    }
  }

  &.datepick-current-day {
    background-color: $gray-light;
    color: $gray;
  }
}


.bk_calendar_frame {
  width: auto !important;
}

.datepick-header {
  text-align: center;
  padding: 1rem;
  background-color: $gray-darker;
}

.calendar-links {
  display: flex;
  justify-content: space-between;
  background-color: $gray-darker;

  a {
    display: block;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    outline: none;

    &:hover, &:focus {
      background-color: $gray;
      color: $gray-light;
    }
  }
}

.wpbc_booking_form_structure {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  .wpdev-help-message {
    color: $white;
    background-color: $red;
    margin: 0 !important;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 80%;
  }
}

.wpbc_structure_calendar {
  margin-right: $spacing-large;
  flex: 1 1 calc(50% - 3rem);

  @media screen and (max-width: 700px) {
    flex-basis: 100%;
    margin: 0 0 $spacing-large 0;
  }

  .wpdev-help-message {
    padding: .5rem !important;
    display: block;
  }

  .block_hints .date_approved.block_check_in_out, 
  .block_hints .block_booked, 
  .date_approved, .date2approve {
    background-image: repeating-linear-gradient(-45deg, rgba($gray-light, .3), rgba($gray-light, .3) 5px, transparent 5px, transparent 10px);
    cursor: not-allowed;
  }
}

.wpbc_structure_form {
  flex: 1 1 50%;

  input, textarea, select {
    background-color: rgba($white, .3);
    border: 2px solid transparent;
    padding: .8rem 1rem;
    width: 100%;
    outline: none;
    line-height: 1;
    border-radius: 0;
    color: darken($gold, 20%);
    transition: border-color .1s linear;
    
    &:hover, &:focus {
      border-color: rgba($white, .5);
    }
  }
  
  select {
    -webkit-appearance: none;
    padding: 1rem;
    color: darken($gold, 20%);
  }

  .controls {
    position: relative;
  }

  .control-label {
    color: $white;
    display: block;
    margin-bottom: .4rem;
  }

  .wpdev-help-message {
    position: absolute;
    bottom: calc(100% - .65rem);
    right: 1rem;
    height: 1.3rem;
    line-height: 1.3rem !important;
    padding: 0 .5rem !important;
  }

  .btn {
    border: 2px solid $white;
    background-color: transparent;
    padding: $spacing-small $spacing-default;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    font-size: 90%;
    color: $white;
    transition: color .1s linear, background-color .1s linear;
    cursor: pointer;
    outline: none;

    &:hover,  &:focus {
      background-color: $white;
      color: $gold;
    }
  }
}