.contact-section {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
  background-color: $white;

  p, form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    text-align: center;
    margin-bottom: $spacing-large;
  }

  button {
    width: 100%;
  }
}