.main-header {
  color: $white;
  text-align: center;

  h2 {
    margin: 0;
    padding: $spacing-large 0 $spacing-default;
    color: $white;
    background: transparent url("../icons/title-drawing.svg") center 1.7rem no-repeat;
    background-size: 10rem;
  }
}